.invoice{
	margin: 4rem auto;
	width:100%;
	max-width: 600px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.35;

	div{
		margin-bottom: 1rem;
	}

	.contact-info{
		.name{
			font-weight: bold;
		}
	}

	table{
		border-collapse: collapse;
		
		th{
			text-align: left;
		}
		td{
			padding: 1rem 2rem 0 0 ;
		}

		.bold{
			font-weight: bold;
		}
	}

}